.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

.col-12 {
  display: block;
}
.col-6,
.col-4,
.col-3 {
  float: left;
  display: block;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: 33.333%;
}
.col-3 {
  width: 25%;
}
header {
    background-color: black
}
h1 {color: aliceblue; 
    text-align: right; 
    font-size: 20px;
    font-family: Helvetica}
h2 {color: black;
    text-align: left;
    font-size: 20px;
    font-family: Helvetica}

.textbox-1
{
    background-color:    lightgray;
        border-width:        6px;
        border-style:        solid;
        border-color:        gray;
	border-right-color:  black;
	border-bottom-color: black;
    
    margin:       10px;
  padding:      15px;

  border-width: 5px; 
  border-color: red;
}
b {font-weight: 700}
ol li {margin-bottom: 10px;
        margin-left: 20px;
        font-family: Helvetica}
.overlay-container
{position: relative}
.overlay
{position: absolute; 
left:300px;
bottom: 10px;
font-family: Helvetica;
border-bottom-color: black;
border-width: thin;
padding: 5px;
background-color: dimgray;
font-size: 14px;
display: inline-blocK
}